.profile__add-pic {
    background-image: url(../../../images/add_button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
}