.header {
    max-width: calc(100% - 200*2px);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: calc(100% - 50*2px);
    } 
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 100%;
    } 
}