.profile__info {
    max-width: 450px;
    display: flex;
    align-items: baseline;
    padding-left: 30px;
    flex-direction: column;
}

@media screen and (max-width: 605px) {
    .profile__info {
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 22px;
    } 
}